
.size-48 {
    font-size: 24px;
    font-weight: bold;
}

.price-label {
    position: absolute;
    top: 10px;
    background-color: grey;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 0 10px 10px 0;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
}

.comment-img {
    border-radius: 10px;
    overflow: hidden;
}

.comment-body { overflow: hidden }

.text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.text p:last-child { margin: 0 }

.attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

#quantity {
    width: 36px;
    border: solid 1px green;
    background-color: white;
}








